body{
    color: #ffd014;
    font-family: 'Helvetica Neue', sans-serif;background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}
.bigBox{
  margin: 0 auto;
  width: 50%;
  padding-top: 10%;
}
.bigBox h1 {
  text-align: right;
  font-size: 50px;
  padding: 0;
  margin: 0;
}
.buttonBox{
  float: right;
}
.statusBox {
  text-align: right;
}